<div class="container">
  <h2>開立匿名錢包</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <th>
          <button type="submit" mat-raised-button color="primary">送出</button>
        </th>
      </tr>
      <tr>
        <th nowrap="nowrap">錢包顯示名稱：</th>
        <td>
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="錢包顯示名稱" formControlName="dn">
            <mat-error *ngIf="dn.invalid && (dn.dirty || dn.touched)" class="alert alert-danger">
              <div *ngIf="dn.errors.required">
                錢包顯示名稱必填
              </div>
            </mat-error>

          </mat-form-field>
        </td>
        <th>手機號碼：</th>
        <td>
          <mat-form-field color="accent">

            <input matInput #input class="form-control" placeholder="手機號碼" formControlName="phoneNumber">

            <mat-error *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
              <div *ngIf="phoneNumber.errors.required">
                行動電話必填
              </div>
              <div *ngIf="phoneNumber.errors.minlength">
                至少輸入10碼
              </div>
            </mat-error>

          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
