<div class="container">
  <h2>開立匿名錢包</h2>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <button type="submit" mat-raised-button color="primary">送出</button>
    <table>
      <tr>
        <td>
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="錢包顯示名稱" formControlName="dn">
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="手機號碼" formControlName="phoneNumber">
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
