<div class="container">
    <h2>開立記名錢包(自然人,公鑰)</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" style="padding-left: 20px;">
      <table>
        <tr>
          <th>
            <button type="submit" mat-raised-button color="primary">送出</button>
          </th>
        </tr>
        <tr>
          <th>錢包顯示名稱：</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input class="form-control" formControlName="dn">
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
          <th>姓名：</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input class="form-control" formControlName="name">
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <th nowrap="nowrap">身分證字號、護照號碼、居留證號：</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #inputstate class="form-control" formControlName="idNumber">
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
          <th>國籍：</th>
          <td>
            <mat-form-field color="accent">
                <mat-select formControlName="nation" >
                  <mat-option *ngFor="let nation of nationCode" [value]="nation.value">
                    {{nation.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </td>
        </tr>

        <tr>
          <th>性別：</th>
          <td>
            <mat-form-field color="accent">
                <mat-select formControlName="gender" >
                  <mat-option *ngFor="let gender of genderCode" [value]="gender.value">
                    {{gender.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </td>
          <th nowrap="nowrap">出生日期：</th>
          <td>
              <mat-form-field color="accent">
                <input matInput #inputstate [matDatepicker]="pick_birth" class="form-control" formControlName="birthDate">
                <mat-datepicker-toggle matSuffix [for]="pick_birth"></mat-datepicker-toggle>
                <mat-datepicker #pick_birth ng-model-options="{ timezone: 'utc' }"></mat-datepicker>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
          </td>
        </tr>

        <tr>
          <th>手機號碼：</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #inputstate class="form-control" formControlName="phoneNumber">
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>戶籍地址：</th>
          <td colspan="3">
            <mat-form-field color="accent">
              <input matInput #inputstate class="form-control" formControlName="address">
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </div>
