<div class="container">
    <th class="f02_th">更新記名或匿名錢包顯示名稱</th>
    <tr>
      <th>
        <button type="submit" mat-raised-button color="primary" (click)="sendCBDC()">送出</button>
      </th>
    </tr>
    <br>
    <block-ui>
      <form [formGroup]="updateWalletForm" style="padding-left: 20px;">
        <table>
          <mat-card class="matCard">
            <mat-card-content>
              <tr>
                <th nowrap="nowrap">錢包ID：</th>
                <td>
                  <mat-form-field color="accent" class="form-id">
                    <input matInput #input class="form-control" formControlName="queryWalletID">
                    <mat-error>{{getErrorMessage('queryWalletID')}}</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <button mat-icon-button color="primary" (click)="getList()">
                    <span class="material-icons">view_list</span>
                  </button>
                </td>
              </tr>
              <tr>
                <th nowrap="nowrap">錢包顯示名稱：</th>
                <td>
                  <mat-form-field color="accent" class="form-id">
                    <input matInput #input class="form-control" formControlName="dn">
                    <mat-error>{{getErrorMessage('dn')}}</mat-error>
                  </mat-form-field>
                </td>
                <th nowrap="nowrap">備註：</th>
                <td>
                  <mat-form-field color="accent" class="form-id">
                    <input matInput #input class="form-control" formControlName="remark">
                    <mat-error>{{getErrorMessage('remark')}}</mat-error>
                  </mat-form-field>
                </td>
              </tr>
            </mat-card-content>
          </mat-card>
        </table>
      </form>
    </block-ui>
  </div>
