<div class="container">
  <th class="f04_th">卡機/販賣機消費者錢包ID(測試用)</th>

  <form [formGroup]="cdbcMsgHistoryForm" style="padding-left: 20px;">
    <div class="f04_div">
      <button type="submit" mat-raised-button color="primary" (click)="add()"> 新增</button>
    </div>

  </form>
</div>
<br>
<cdk-virtual-scroll-viewport itemSize="48" headerHeight="56" style="height: 400px;">
  <mat-table [dataSource]="cdbcMsgHistory">
    <ng-container matColumnDef="setting">
      <mat-header-cell *matHeaderCellDef><u></u></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container>
          <button mat-raised-button color="warn" (click)="remove(row.walletid)">移除</button>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="WALLETID">
      <mat-header-cell *matHeaderCellDef>測試錢包ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.walletid }}</mat-cell>
    </ng-container>


    <mat-header-row
      *matHeaderRowDef="['setting', 'WALLETID']; sticky: true">
    </mat-header-row>
    <mat-row
      *matRowDef="let ruleParmRow; columns: ['setting', 'WALLETID']">
    </mat-row>
  </mat-table>
  <tr>
    <td>
      <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="5"
        [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
      </mat-paginator>
    </td>
  </tr>
</cdk-virtual-scroll-viewport>

