<div class="container">
  <h2 mat-dialog-title>原因碼維護-新增</h2>

  <form class="mat-dialog-content" (ngSubmit)="submit()" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="原因碼類別" [(ngModel)]="data.reason_KIND" name="reason_KIND" disabled >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form" *ngIf="data.reason_KIND == 'R'">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="補件類別" [(ngModel)]="data.ad_TYPE" name="ad_TYPE" disabled >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="原因碼" [(ngModel)]="data.reason_CODE" name="reason_CODE" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="原因碼說明" [(ngModel)]="data.reason_DESC" name="reason_DESC" required>
        </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="排序" [(ngModel)]="data.reason_SORT" name="reason_SORT">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-select [(ngModel)]="data.reason_FLAG" name="reason_FLAG" placeholder="是否停用" >
          <mat-option *ngFor="let yn of ynCode" [value]="yn.value">
            {{yn.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
