<div style="margin-top: 15px; margin-left: 5px;">
  <button mat-raised-button color="primary" routerLink="./F01001SCN2"  [queryParams]="{applno: getApplno()}">資訊彙整</button>
  <button mat-raised-button color="primary" routerLink="./F01001SCN3"  [queryParams]="{applno: getApplno()}">信用諮詢</button>
  <button mat-raised-button color="primary" routerLink="./F01001SCN4"  [queryParams]="{applno: getApplno()}">信用說明</button>
  <button mat-raised-button color="primary" routerLink="./F01001SCN5"  [queryParams]="{applno: getApplno()}">客戶資訊</button>
  <button mat-raised-button color="primary" routerLink="./F01001SCN6"  [queryParams]="{applno: getApplno()}">保人/聯絡人</button>
  <button mat-raised-button color="primary" routerLink="./F01001SCN7"  [queryParams]="{applno: getApplno()}">條款/條件</button>
  <button mat-raised-button color="primary" routerLink="./F01001SCN8"  [queryParams]="{applno: getApplno()}">擔保資產</button>
  <button mat-raised-button color="primary" routerLink="./F01001SCN9"  [queryParams]="{applno: getApplno()}">客戶評分</button>
  <button mat-raised-button color="primary" routerLink="./F01001SCN10" [queryParams]="{applno: getApplno()}">信用檢查</button>
  <button mat-raised-button color="primary" routerLink="./F01001SCN11" [queryParams]="{applno: getApplno()}">信用報表</button>
  <button mat-raised-button color="primary" routerLink="./F01001SCN12" [queryParams]="{applno: getApplno()}">FaceBook</button>
  <button mat-raised-button color="primary" routerLink="./F01001SCN13" [queryParams]="{applno: getApplno()}">本案影像</button>
</div>
<router-outlet></router-outlet>
