<div class="container">
    <th class="f04_th">開立記名錢包(自然人,公鑰)查詢</th>
  
    <form [formGroup]="registrationForm" >
      <div class="f04_div">
        <button type="submit" mat-raised-button color="primary" (click)="getViewDataList()"> 查詢</button>
        <button type="clear" mat-raised-button color="primary" (click)="clear()">清除</button>
      </div>
      
      <table>
        <tr>
          <td>
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="錢包顯示名稱" formControlName="dn">
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="姓名" formControlName="name">
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
  
        <tr>
          <td>
            <mat-form-field color="accent">
              <input matInput #inputstate class="form-control" placeholder="身分證字號、護照號碼、居留證號" formControlName="idNumber"> 
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field color="accent">
              <input matInput #inputstate class="form-control" placeholder="手機號碼" formControlName="phoneNumber"> 
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      
        <tr>
          <td>
            <mat-form-field appearance="fill" class="example-form-field">
              <mat-label>建立日期</mat-label>
              <mat-date-range-input [rangePicker]="rangePicker">
                <input matStartDate placeholder="建立日期起" formControlName="createdate_start" value=""> 
                <input matEndDate placeholder="建立日期迄" formControlName="createdate_end">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDateRangePickerApply (click)="setTimes()">Apply</button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>
          </td>

        </tr>

      </table>

      
      <mat-table [dataSource]="npWalletPubkey">
        <ng-container matColumnDef="DN">
          <mat-header-cell *matHeaderCellDef>錢包顯示名稱</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.DN }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="NAME">
          <mat-header-cell *matHeaderCellDef>姓名</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.NAME }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="IDNUMBER">
          <mat-header-cell *matHeaderCellDef>身分證字號、護照號碼、居留證號</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.IDNUMBER }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="NATION">
          <mat-header-cell *matHeaderCellDef>國籍</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.NATION }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="GENDER">
          <mat-header-cell *matHeaderCellDef>性別</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.GENDER }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="BIRTHDAT">
          <mat-header-cell *matHeaderCellDef>出生日期</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.BIRTHDATE }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ADDRESS">
          <mat-header-cell *matHeaderCellDef>戶籍地址</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.ADDRESS }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="PHONENUMBER">
          <mat-header-cell *matHeaderCellDef>手機號碼</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.PHONENUMBER }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="CREATEDATE">
          <mat-header-cell *matHeaderCellDef>建立日期</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.CREATEDATE }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="WALLETID">
          <mat-header-cell *matHeaderCellDef>記名錢包ID</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.WALLETID }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="USERID">
          <mat-header-cell *matHeaderCellDef>用戶錢包帳號</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.USERID }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['DN', 'NAME', 'IDNUMBER', 'NATION', 'GENDER', 'BIRTHDAT', 'ADDRESS', 'PHONENUMBER', 'CREATEDATE', 'WALLETID', 'USERID']"></mat-header-row>
        <mat-row *matRowDef="let ruleParmRow; columns: ['DN', 'NAME', 'IDNUMBER', 'NATION', 'GENDER', 'BIRTHDAT', 'ADDRESS', 'PHONENUMBER', 'CREATEDATE', 'WALLETID', 'USERID']"></mat-row>
      </mat-table>

      <table>
        <tr>
          <td>
            <mat-paginator #paginator
              [length]="totalCount"
              [pageIndex]="0"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 15, 50, 100]"
              [showFirstLastButtons]="true">
            </mat-paginator>
          </td>
        </tr>
      </table>

    </form>
  </div>
  