.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.mat-column-actions {
  max-width: 10%;
}

.mat-column-WALLETID {
  max-width: 35%;
}

.mat-column-DN {
  max-width: 35%;
}

.mat-column-CREATEDATE {
  max-width: 20%;
}
