
<div class="container">
  <th class="">產製QRCODE</th>
  <block-ui>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" style="padding-left: 20px;">
      <table>
        <tr>
          <th>
            <button type="submit" mat-raised-button color="primary">送出</button>
            <input matInput #input class="form-control" hidden formControlName="won" formControlName="won">
            <input matInput #input class="form-control" hidden formControlName="cvc" formControlName="cvc">
          </th>
        </tr>
        <br>
        <mat-card class="matCard">
          <mat-card-content>
            <tr>
              <td nowrap>錢包ID：</td>
              <td>
                <mat-form-field color="">
                  <input matInput #input class="form-control" formControlName="recipientID">
                  <mat-error>{{getErrorMessage('recipientID')}}</mat-error>
                </mat-form-field>
              </td>

            </tr>
            <td nowrap>錢包名稱：</td>
            <td>
               <mat-form-field color="">
                  <input matInput #input class="form-control" formControlName="dn">
              <mat-error>{{getErrorMessage('dn')}}</mat-error>
              </mat-form-field>
            </td>
            <tr>
              <td nowrap>金額：</td>
              <td>
                <mat-form-field color="">
                  <input matInput #input class="form-control" formControlName="amount">
                  <mat-error>{{getErrorMessage('amount')}}</mat-error>
                </mat-form-field>
              </td>
          </mat-card-content>
        </mat-card>
      </table>
    </form>
  </block-ui>
</div>
<div>
<img [src]="imageSource">
</div>



