<div class="container">
  <th class="f02_th">錢包ID查詢錢包資訊</th>
  <block-ui>
    <form [formGroup]="registrationForm">
      <table>
        <tr>
          <th>
            <button type="submit" mat-raised-button color="primary" (click)="sendCBDC()">送出</button>
            <button type="clear" mat-raised-button color="primary" (click)="clear()">清除</button>
          </th>
        </tr>
        <tr>
          <th nowrap="nowrap">欲查詢之錢包ID：</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input class="form-control" formControlName="queryWalletID">
              <mat-error>{{getErrorMessage('queryWalletID')}}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button color="primary" (click)="getList()">
              <span class="material-icons">view_list</span>
            </button>
          </td>
        </tr>
      </table>
    </form>
    <form [formGroup]="resultForm" style="padding-left: 20px;">
      <table>
        <mat-card class="matCard">
          <mat-card-content>
            <tr>
              <th nowrap="nowrap">錢包餘額：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="balance" readonly>
                </mat-form-field>
              </td>
              <th nowrap="nowrap">錢包目前交易總筆數：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="totalCount" readonly>
                </mat-form-field>
              </td>
              <th nowrap="nowrap">錢包帳務最後修改時間：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="statusLastModified" readonly>
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <th nowrap="nowrap">錢包類型︰</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="type" readonly>
                </mat-form-field>
              </td>
              <th nowrap="nowrap">商務類別碼：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="mcc" readonly>
                </mat-form-field>
              </td>
              <th nowrap="nowrap">錢包是否凍結：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="frozen" readonly>
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <th nowrap="nowrap">錢包是否停用：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="disabled" readonly>
                </mat-form-field>
              </td>
              <th nowrap="nowrap">錢包設定最後修改時間：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="settingLastModified" readonly>
                </mat-form-field>
              </td>
              <th nowrap="nowrap">錢包顯示名稱：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="dn" readonly>
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <th nowrap="nowrap">錢包憑證單筆交易上限金額：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="certTxnLimit" readonly>
                </mat-form-field>
              </td>
              <th nowrap="nowrap">錢包私鑰單筆交易上限金額：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="keyTxnLimit" readonly>
                </mat-form-field>
              </td>
              <th nowrap="nowrap">錢包已開通之券幣代號陣列：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="cvc" readonly>
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <th nowrap="nowrap">錢包餘額限額：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="balanceLimit" readonly>
                </mat-form-field>
              </td>
              <th nowrap="nowrap">錢包創建時間：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input formControlName="createTime" readonly>
                </mat-form-field>
              </td>
              <th nowrap="nowrap"></th>
              <td>
              </td>
              <th nowrap="nowrap"></th>
              <td>
              </td>
            </tr>
          </mat-card-content>
        </mat-card>
      </table>
    </form>
  </block-ui>
</div>
