<div class="container">
    <form [formGroup]="searchForm">
      <table>
        <tr>
          <td>
            <button mat-icon-button color="primary" (click)="getWalletId()">
              <span class="material-icons">search</span>
            </button>
            <br>
            <button mat-icon-button color="primary" (click)="cleanToEmpty()">
              <span class="material-icons">clear_all</span>
            </button>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>授權類型</mat-label>
              <mat-select formControlName="walletType" (click)="cleanToEmpty()">
                <mat-option *ngFor="let code of walletOption" [value]="code.value">
                  {{code.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field appearance="fill" class="form-id">
              <mat-label>授權方錢包ID</mat-label>
              <input matInput #input class="form-control" formControlName="walletID">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <mat-paginator #paginator
                 [length]="totalCount"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 15, 50, 100]"
                 [showFirstLastButtons]="true">
            </mat-paginator>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <hr>
  <mat-dialog-content>
    <mat-table [dataSource]="walletIdSource">
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>請選擇</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="goBack(row.authid, row.walletid, row.recipientid)">
            <span class="material-icons">call_received</span>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="AUTHID">
        <mat-header-cell *matHeaderCellDef>授權合約ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.authid }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="OPERATION">
        <mat-header-cell *matHeaderCellDef>授權之作業名稱</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.operation }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="WALLETID">
        <mat-header-cell *matHeaderCellDef>授權方錢包ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.walletid }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="RECIPIENTID">
        <mat-header-cell *matHeaderCellDef>授權收款方總庫/錢包ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.recipientid }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="TIMESTAMP">
        <mat-header-cell *matHeaderCellDef>授權時間</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['actions', 'AUTHID', 'OPERATION', 'WALLETID', 'RECIPIENTID', 'TIMESTAMP' ]"></mat-header-row>
      <mat-row *matRowDef="let walletIdRow; columns: ['actions', 'AUTHID', 'OPERATION', 'WALLETID', 'RECIPIENTID', 'TIMESTAMP'  ]"></mat-row>
    </mat-table>
  </mat-dialog-content>

