<div class="container">
  <th class="f04_th">會員推播紀錄(APP)</th>

  <form [formGroup]="cdbcMsgHistoryForm" style="padding-left: 20px;">
    <div class="f04_div">
      <button type="submit" mat-raised-button color="primary" (click)="getViewDataList()"> 查詢</button>
      <button type="clear" mat-raised-button color="primary" (click)="clear()">清除</button>
    </div>
    <table>
      <br>
      <mat-card class="matCard">
        <mat-card-content>
          <tr>
            <th nowrap="nowrap">會員ID：</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input class="form-control" formControlName="userId">
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </mat-card-content>
      </mat-card>
    </table>
  </form>
</div>
<br>
<cdk-virtual-scroll-viewport itemSize="48" headerHeight="56" style="height: 400px;">
  <mat-table [dataSource]="cdbcMsgHistory">

    <ng-container matColumnDef="DEVICE_ID">
      <mat-header-cell *matHeaderCellDef>裝置ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.deviceId }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="USER_ID">
      <mat-header-cell *matHeaderCellDef>會員ID：</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.userId }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="MSG_FCMCODE">
      <mat-header-cell *matHeaderCellDef>推播內容代碼</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.msgFcmcode }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="MSG_TITLE">
      <mat-header-cell *matHeaderCellDef>推播標題</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.msgTitle }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="MSG_CONTENT">
      <mat-header-cell *matHeaderCellDef>推播內容</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.msgContent}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="MSG_TIME">
      <mat-header-cell *matHeaderCellDef>推播時間</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.msgTime | date:'yyyy-MM-dd HH:mm:ss' }}</mat-cell>
    </ng-container>



    <mat-header-row
      *matHeaderRowDef="['DEVICE_ID', 'USER_ID', 'MSG_FCMCODE', 'MSG_TITLE', 'MSG_CONTENT', 'MSG_TIME']; sticky: true">
    </mat-header-row>
    <mat-row
      *matRowDef="let ruleParmRow; columns: ['DEVICE_ID', 'USER_ID', 'MSG_FCMCODE', 'MSG_TITLE', 'MSG_CONTENT', 'MSG_TIME']">
    </mat-row>
  </mat-table>
  <tr>
    <td>
      <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="5"
        [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
      </mat-paginator>
    </td>
  </tr>
</cdk-virtual-scroll-viewport>

