<div class="container">
  <form [formGroup]="searchForm">
  <table>
    <tr>
      <td>
        <button mat-icon-button color="primary" (click)="getMyWallet()">
          <span class="material-icons">search</span>
        </button>
        <br>
        <button mat-icon-button color="primary" (click)="cleanToEmpty()">
          <span class="material-icons">clear_all</span>
        </button>
      </td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>交易類型</mat-label>
          <mat-select formControlName="transType" (click)="cleanToEmpty()">
            <mat-option *ngFor="let code of transOption" [value]="code.value">
              {{code.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill" class="form-id">
          <mat-label>交易收方錢包ID</mat-label>
          <input matInput #input class="form-control" formControlName="recipientid">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
          [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
        </mat-paginator>
      </td>
    </tr>
  </table>
</form>
</div>
<br>
<mat-dialog-content>
  <mat-table [dataSource]="myWalletSource">
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>請選擇</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="goBack(row.recipientid|| row.walletid, row.txnid, row.cvc || '0901' , type2)">
          <span class="material-icons">call_received</span>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="RECIPIENTID">
      <mat-header-cell *matHeaderCellDef>交易收方錢包ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.recipientid || row.walletid}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="TXNID">
      <mat-header-cell *matHeaderCellDef>交易ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.txnid }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="AMOUNT">
      <mat-header-cell *matHeaderCellDef>交易金額</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.amount }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="CVC">
      <mat-header-cell *matHeaderCellDef>券幣代號</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.cvc || '0901'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="TXNTIME">
      <mat-header-cell *matHeaderCellDef>交易時間</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.txntime | date:'yyyy-MM-dd hh:mm:ss' }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['actions', 'RECIPIENTID', 'TXNID', 'AMOUNT', 'CVC', 'TXNTIME' ]"></mat-header-row>
    <mat-row *matRowDef="let walletIdRow; columns: ['actions', 'RECIPIENTID', 'TXNID', 'AMOUNT', 'CVC', 'TXNTIME' ]"></mat-row>
  </mat-table>
</mat-dialog-content>
