
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>

  <block-ui>
    <form [formGroup]="generateBarcodeForm" >
      <th class="f03_th">產生支付號碼</th>
      <table>
          <tr>
            <th nowrap="nowrap">
              <button type="submit" mat-raised-button color="primary" (click)="sendCBDC()">送出</button>
              <button type="clear" mat-raised-button color="primary" (click)="clear()">清除</button>
            </th>
          </tr>
          <tr>
            <th nowrap="nowrap">錢包ID：</th>
            <td>

              <mat-form-field color="accent">
                <mat-select formControlName="queryWalletID">
                  <mat-option *ngFor="let id of walletItCode" [value]="id.value">
                    {{id.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th nowrap="nowrap">券幣代號：</th>
            <td>
              <mat-form-field color="accent">
                  <mat-select formControlName="cvc">
                    <mat-option *ngFor="let cvc of cvcCode" [value]="cvc.value">
                      {{cvc.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </td>
          </tr>
          <tr>
            <th nowrap="nowrap">支付金額：</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input class="form-control" formControlName="amount">
                </mat-form-field>
            </td>
          </tr>
        </table>
    </form>
    <form [formGroup]="resultForm" style="padding-left: 30px;">
      <table>
        <mat-card class="matCard">
          <mat-card-content>
            <tr>
              <td>
                <div>
                <mat-form-field color="accent" style="width: 100%;">
                  <input matInput #input formControlName="number" readonly>
                </mat-form-field>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field color="accent" style="width: 100%;">
                  <input matInput #input formControlName="verify"  readonly>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field color="accent" style="width: 280px;">
                  <input matInput #input formControlName="response"  readonly >
                </mat-form-field>
              </td>
            </tr>
          </mat-card-content>
        </mat-card>
      </table>
    </form>
  </block-ui>
</div>
