<div class="container">
  <th class="f03_th">移轉自錢包之CBDC</th>
  <block-ui>
    <form [formGroup]="transferForm" style="padding-left: 20px;">
      <table>
        <tr>
          <th>
            <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">送出</button>
          </th>
        </tr>
        <br>
        <mat-card class="matCard">
          <mat-card-content>
            <tr>
              <th nowrap="nowrap">交易付方錢包ID：</th>
              <td nowrap="nowrap">
                <mat-form-field color="accent" class="form-id">
                  <input matInput #input class="form-control" formControlName="walletid">
                  <mat-error>{{getErrorMessage('walletid')}}</mat-error>
                </mat-form-field>
              </td>
              <td>
                <button mat-icon-button color="primary" (click)="getList('walletid')">
                  <span class="material-icons">view_list</span>
                </button>
              </td>
            </tr>
            <tr>
              <th nowrap="nowrap">交易收方錢包ID：</th>
              <td nowrap="nowrap">
                <mat-form-field color="accent" class="form-id">
                  <input matInput #input class="form-control" formControlName="recipientid">
                  <mat-error>{{getErrorMessage('recipientid')}}</mat-error>
                </mat-form-field>
              </td>
              <td>
                <button mat-icon-button color="primary" (click)="getList('recipientid')">
                  <span class="material-icons">view_list</span>
                </button>
              </td>
            </tr>

            <tr>
              <th>券幣代號：</th>
              <td>
                <mat-form-field color="accent">
                  <mat-select formControlName="cvc">
                    <mat-option *ngFor="let cvc of cvcCode" [value]="cvc.value">
                      {{cvc.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <th>交易金額 (單位：元)：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #inputstate class="form-control" formControlName="amount"
                  [value]="model | toNumber | formatNumber : model > 100 " [(ngModel)]="model"
                  (keypress)="numberOnly($event)">
                  <mat-error>{{getErrorMessage('amount')}}</mat-error>
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <th nowrap="nowrap">(收方)銷帳編號：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #inputstate class="form-control" formControlName="won">
                  <mat-error>{{getErrorMessage('won')}}</mat-error>
                </mat-form-field>
              </td>
              <th nowrap="nowrap">(付方)交易備註：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #inputstate class="form-control" formControlName="remark">
                  <mat-error>{{getErrorMessage('remark')}}</mat-error>
                </mat-form-field>
              </td>
            </tr>
          </mat-card-content>
        </mat-card>
      </table>
    </form>
  </block-ui>
</div>
