/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

table {
  width: 50%;
}

th {
  text-align: left;
  padding-left: 30px;
}

.form-address{
  width: 200%;
}

.login-background{
  background-image: url(src\assets\images\ctbcLogo.png);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: left 50% top 0%;
  background-size: 50%;
}

.home-background{
  background-image: url(src\assets\images\homeBack.png);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align:center;
  font-size: 100%;
}

footer{
  position: fixed;
  bottom: 0;
}
