<div class="container">
  <th class="f02_th">中介機構為自己開立錢包</th>
  <block-ui>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" style="padding-left: 20px;">
      <table>
        <tr>
          <th>
            <button type="submit" mat-raised-button color="primary">送出</button>
          </th>
        </tr>
        <br>
        <mat-card class="matCard">
          <mat-card-content>
            <tr>
              <!-- 中介機構錢包帳號是透過後端JAVA程式比照財經規定的邏輯去計算出來的並非隨便敲打一個數字即可當作帳號，故先註解 -->
              <!-- <th nowrap="nowrap">中介機構錢包帳號：</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input class="form-control" formControlName="userID">
                <mat-error>{{getErrorMessage('userID')}}</mat-error>
              </mat-form-field>
            </td> -->
              <th nowrap="nowrap">錢包顯示名稱：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" formControlName="dn">
                  <mat-error>{{getErrorMessage('dn')}}</mat-error>
                </mat-form-field>
              </td>
            </tr>
          </mat-card-content>
        </mat-card>

        <br>
        <mat-card class="matCard" *ngIf="display;">
          <mat-card-content>
            <tr>
              <th>狀態代碼：</th>
              <td>
                <mat-form-field color="accent">
                  <input matInput #inputstate class="form-control" formControlName="statusCode">
                </mat-form-field>
              </td>
              <th>狀態訊息：</th>
              <td colspan="2">
                <mat-form-field color="accent">
                  <input matInput #inputstate class="form-control" formControlName="statusMessage">
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <th>錢包ID：</th>
              <td colspan="2">
                <mat-form-field color="accent">
                  <input matInput #inputstate class="form-control" formControlName="walletID">
                </mat-form-field>
              </td>
            </tr>
          </mat-card-content>
        </mat-card>
      </table>
    </form>
  </block-ui>
</div>
