<table>
  <tr>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>業務別</mat-label>
        <mat-select [(ngModel)]="BusTypeValue" name="BusTypeOption" (ngModelChange)="changeSelect()">
          <mat-option *ngFor="let option of BusType" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>參數代碼</mat-label>
        <input matInput [(ngModel)]="ParmIdValue" (blur)="changeSelect()">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>參數名稱</mat-label>
        <input matInput [(ngModel)]="ParmNameValue" (blur)="changeSelect()">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>參數值</mat-label>
        <input matInput [(ngModel)]="ParmValue" (blur)="changeSelect()">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>參數預設值</mat-label>
        <input matInput [(ngModel)]="ParmDefaultValue" (blur)="changeSelect()">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>參數類型</mat-label>
        <mat-select [(ngModel)]="ParmTypeValue" name="ParmTypeOption" (ngModelChange)="changeSelect()">
          <mat-option *ngFor="let option of ParmType" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>參數型別</mat-label>
        <mat-select [(ngModel)]="ParmDimValue" name="ParmDimOption" (ngModelChange)="changeSelect()">
          <mat-option *ngFor="let option of ParmDim" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>參數類別</mat-label>
        <mat-select [(ngModel)]="ParmClassValue" name="ParmClassOption" (ngModelChange)="changeSelect()">
          <mat-option *ngFor="let option of ParmClass" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>使用條件</mat-label>
        <mat-select [(ngModel)]="ConditionValue" name="ConditionOption" (ngModelChange)="changeSelect()">
          <mat-option *ngFor="let option of Condition" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" value="{{selectedValue}}"/>
      </mat-form-field>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <mat-paginator #paginator
               [length]="totalCount"
               [pageIndex]="0"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 15, 50, 100]"
               [showFirstLastButtons]="true">
      </mat-paginator>
    </td>
  </tr>
</table>
<mat-table [dataSource]="ruleParamCondition" matSort (matSortChange)="changeSort($event)">
  <ng-container matColumnDef="BUSTYPE">
    <mat-header-cell *matHeaderCellDef>業務別</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ getOptionDesc(BusType, row.BusType) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PARMID">
    <mat-header-cell *matHeaderCellDef>參數代碼</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ParmId }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PARMNAME">
    <mat-header-cell *matHeaderCellDef>參數名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ParmName }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PARMTYPE">
    <mat-header-cell *matHeaderCellDef>參數類型</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ getOptionDesc(ParmType, row.ParmType) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PARMDIM">
    <mat-header-cell *matHeaderCellDef>參數型別</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ getOptionDesc(ParmDim, row.ParmDim) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PARMVALUE">
    <mat-header-cell *matHeaderCellDef>參數值</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ParmValue }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CONDITION">
    <mat-header-cell *matHeaderCellDef>使用條件</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ getOptionDesc(Condition, row.Condition) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PARMDEFAULT">
    <mat-header-cell *matHeaderCellDef>預設值</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ParmDefault }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PARMCLASS">
    <mat-header-cell *matHeaderCellDef>參數類別</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ getOptionDesc(ParmClass, row.ParmClass) }}</mat-cell>
  </ng-container>


  <!-- actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="addNew()">
        <mat-icon aria-label="新增">add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let row; let i=index;">

      <button mat-icon-button color="primary" (click)="startEdit(i, [row.BusType, row.ParmId, row.ParmName,
                                                                     row.ParmType, row.ParmDim, row.ParmValue,
                                                                     row.Condition, row.ParmDefault, row.ParmClass])">
        <mat-icon aria-label="編輯">edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="deleteItem(i, [row.BusType, row.ParmId, row.ParmName])">
        <mat-icon aria-label="刪除">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>



  <mat-header-row *matHeaderRowDef="['BUSTYPE', 'PARMID', 'PARMNAME', 'PARMTYPE', 'PARMDIM', 'PARMVALUE', 'CONDITION', 'PARMDEFAULT', 'PARMCLASS', 'actions']"></mat-header-row>
  <mat-row *matRowDef="let ruleParmRow; columns: ['BUSTYPE', 'PARMID', 'PARMNAME', 'PARMTYPE', 'PARMDIM', 'PARMVALUE', 'CONDITION', 'PARMDEFAULT', 'PARMCLASS', 'actions']"></mat-row>
</mat-table>
